
/*.page {
  width: 960px;
  margin: 0 auto;
}
*/
/*.list-of-posts {     min-height: 700px;
}*/
.pagination ul li {
  display: inline-block;
  margin-right: -4px;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  transition: .25s;
  color: #303745;
}
.pagination li {
  list-style-type: none;
  float: left;
  width: 40px;
  height: 40px;
  line-height:40px;
  border: 2px solid #ccc;
  background: #FFF;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  margin:0 5px;
  display: block;
  
}

.pagination li:hover {
  background-color: #d33030;
  border: 1px solid #ddd;
  color: #FFF
}

.pagination ul {
  border: 0;
  padding: 0;
}

.pagination ul li .active {
  background-color: #d33030 !important;
  border: 1px solid #000 !important;
  color: #FFF !important;
}
