.navbar{
    background: rgb(156,252,100);
    background: -moz-linear-gradient(top, rgb(88, 96, 84) 0%,rgba(120,168,0,1) 36%,rgb(152, 188, 63) 74%,rgba(167,252,98,1) 100%);
    background: -webkit-linear-gradient(top, rgb(88, 96, 84) 0%,rgba(120,168,0,1) 36%,rgb(152, 188, 63) 74%,rgba(167,252,98,1) 100%);
    background: linear-gradient(to bottom, rgb(88, 96, 84) 0%,rgba(120,168,0,1) 36%,rgb(152, 188, 63) 74%,rgba(167,252,98,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cfc64', endColorstr='#a7fc62',GradientType=0 );
}
