.navbarz{
    background: -moz-linear-gradient(left, rgba(0,92,28,0) 0%, rgba(1,94,28,1) 2%, rgba(36,173,34,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,92,28,0) 0%,rgba(1,94,28,1) 2%,rgba(36,173,34,1) 100%);
    background: linear-gradient(to right, rgba(0,92,28,0) 0%,rgba(1,94,28,1) 2%,rgba(36,173,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00005c1c', endColorstr='#24ad22',GradientType=1 );
}
body div.wrapper{
    padding: 0;
}