.tombol{
  height: 145.5px;
  background: black;
  border-radius: 120px;
  width: 145.5px;
  margin: 0px auto;
}
.tombol2{
  height: 109.5px;
  background: url('../images/next.png') blue;
  box-shadow: inset 0 0px 20px #000;
  border-radius: 55px;
  position: absolute;
  top: 84px;
  left: 84px;
  z-index: 999999999999999999999;
  right: 84px;
  bottom: 84px;
}
.tombol2:hover{
  height: 79.5px;
  box-shadow: 0px 0px 8px blue;
  background: url('../images/next_hover.png') blue;
  position: absolute;
  top: 100px;
  left: 99px;
  right: 99px;  
}

.tabel-trans{
  width: 100%;
  margin: 0px;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  font-weight: 600;
}
.skin-blue .main-header .navbar .nav > li > a { color: #ffffff; }
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}

.main-header .logo-i {
	 color: #ffffff;
	 line-height: 50px;
}

.skin-blue .main-header li.user-header {
  background-color: #6e6e6e;
}
.skin-blue .content-header {
  background: transparent;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #292a2e;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}

.skin-blue .sidebar-menu > li.header {
  color: #4d6671;
  background: #192126;
}
.skin-blue .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {/* */
  color: #ffffff;
  background: #454545;
  border-left-color: #eee; 
}
.skin-blue .sidebar-menu > li > .treeview-menu { /* */
  margin: 0 1px;
  background: #3b3b3b;
}
.skin-blue .sidebar a {
	color: #fff;
  /* color: #a3c3ff; */
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
  color: #b8b8b8;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #ffffff;
}

.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #3c8ebd;
  color: #ffffff;
  border-bottom: 0px solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #3a8ab8;
}

.sidebar-menu li { border-top: 1px dotted #666; }

/* -- Skin Blue -- */
.skin-blue .main-header .navbar { background-color: #3c92a1; } /* Head Utama, Atas */
.skin-blue .main-header .navbar .sidebar-toggle:hover { background-color: #737373; } /* Togle Header */
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider { background-color: rgba(255, 255, 255, 0.1); }
  .skin-blue .main-header .navbar .dropdown-menu li a { color: #fff; }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover { background: #1d6280; }
}

/* Header Sidebar */
.skin-blue .main-header .logo { 
  font-size: 15px;
  background-color: #1c7587;
  color: #ffffff;line-height: 16px;
  padding: 13px 0;
  border-bottom: 0px solid transparent;
}


